.signup {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  height: 100vh;
}
.signup__form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-right: 30%;
}
.signup__header {
  display: flex;
  text-align: center;
  font-weight: bold;
  font-size: 35px;
  color: rgb(59, 57, 110);
}
.signup__image {
  margin-top: 12rem;
  margin-left: 15rem;
  width: 70vh;
  height: 50vh;
}
.signup__input {
  text-align: center;
  margin-bottom: 1rem;
}
.signup__button {
  height: 2rem;
  width: 15rem;
  display: block;
  margin-top: 24px;
  background-color: rgb(59, 57, 110);
}
.error-message {
  color: red;
}
