 .login {
   display: flex;
   justify-content: space-around;
  }
  .login__form {
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    flex-direction: column;
    padding-right: 30%;
  }
   .login__header {
    display: flex;
    margin-top: 18rem;
    font-weight: bold;
    font-size: 35px;
    color: rgb(59, 57, 110);
  }
  .login__image{
  margin-top: 15rem;
  margin-left: 15rem;
  width: 70vh;
  height: 50vh;
  }

  .link {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    color: #645B5B;
    font-size: 12px;
  }
  .login__input {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .login__button {
    height: 2rem;
    width: 15rem;
    display: block;
    margin-top: 24px;
    background-color: rgb(59, 57, 110);
  } 
   