.profile {
  display: flex;
  margin: 10rem auto;
  flex-direction: column;
  width: 100vw;
}
.profile__form {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #186aa5;
  width: 28rem;
  padding: 3rem;
  border-radius: 12px;
  text-align: center;
}
.profile__header {
  display: flex;
  font-family: "Poppins", sans-serif;
  /* color: #ff7d00; */
  justify-content: center;
  font-size: 35px;
  color: rgb(59, 57, 110);
}
.profile__header__apan {
  color: #ff7d00;
}
.ant-form-item-label > label {
  color: white;
}
.profile__input {
  text-align: center;
}
.profile__button {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.profile__button--save,
.profile__button--update {
  width: 8rem;
  display: block;
  margin-top: 1rem;
  cursor: pointer;
}
.profile__button--save:hover,
.profile__button--update:hover {
  color: white;
  background-color: #ff7d00;
}
