@import "~@fullcalendar/core/main.css";
@import "~@fullcalendar/daygrid/main.css";
@import "~@fullcalendar/timegrid/main.css";

.container {
  margin: 10%;
}
.fc-view-container {
  overflow-x: scroll;
  overflow-y: scroll;
}
