@import "~@fullcalendar/core/main.css";
@import "~@fullcalendar/daygrid/main.css";
@import "~@fullcalendar/timegrid/main.css";

.container {
  margin:2% 10%;
}
.fc-view-container {
  overflow-x: scroll;
  overflow-y: scroll;
  height: 25rem;
}

.username{
  color: rgb(243, 223, 113);
  font-weight: bolder;
  font-size: 1em;
  padding-left: 3% ;
}
