@import "~@fullcalendar/core/main.css";
@import "~@fullcalendar/daygrid/main.css";
@import "~@fullcalendar/timegrid/main.css";

.calendars {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 100px;
}
