.navcontainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 35px 70px 0;
}

.nav__logo {
  margin-left: 20px;
  width: 260px;
}

.ant-dropdown-button {
  margin: 0 8px 8px 0;
}

.ant-btn-group-rtl.ant-dropdown-button {
  margin: 0 0 8px 8px;
}
